@import "../../resources/colors";
@import "../../resources/animation.scss";

.draggableWords {
  .contentSlide {
    // height: 150px;
    width: 600px;
    .boxCheck {
      background-color: #86BF41;
      border-radius: 10px;
      top: 5px;
      left: 49px;
      width: 502px;
      height: 229px;
      h1 {
        color: #fff;
      }
    }

    .boxError {
      background-color: #D00814;
      border-radius: 10px;
      top: 5px;
      left: 49px;
      width: 502px;
      height: 229px;
      h1 {
        color: #fff;
      }
    }

    .slideBox {
      background: #F8F8F8;
      padding: 1.5rem;
      border-radius: 10px;
      width: 650px;
      height: 240px;
      box-shadow: 0 0px 10px rgba(0, 0, 0, 0.25);
      
      .boxDrop {
        width: 86px;
        height: 86px;
        background: #DEDEDE;
        border: 1px dotted #ACACAC;
        border-radius: 50px;
        &:before {
          content: '?';
          color: #fff;
          font-size: 3rem;
          font-weight: 700;
        }
      }
      .WordDropped {
        border: none;
        p {
          color: $color4;
        }
      }
    }

    .buttonSlide {
      background-color: rgba(0, 0, 0, 0);

      .iconButton {
        font-size: 2em;
        color: $color1;
        transition: all .3s;
      }

      &:hover {
        .iconButton {
          color: $color2;
        }
      }
    }
  }

  .contentWords {
    width: 400px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    .dragWord {
      p {
        color: white;
        font-weight: 700;
      }
    }
  }
}
