 @import "../resources/colors";
@import "../resources/animation.scss";

.InteractivePath1 {
  height: 200px;
  width: 80%;
  // position: absolute;
  // top: 95px;
   left: -10px;

  .circleItems {
    position: absolute;

    .circleButton {
      background-color: transparent;
      font-size: 1.5em;
      transition: all .3s;
    }
  }

  .itemGlobe {
    color: transparent;
    box-shadow: 0 4px 10px -5px rgba(0, 0, 0, 0.3);
    position: absolute;
    padding: 0.1em 0.4rem;
    border-radius: 10px;
    border-width: 1px;
    border-style: solid;
    min-width: 80px;
    max-width: 300px;
    width: 50%;
    height: 200px;
  }

  .itemGlobeDisabled {
    border: 0px solid transparent!important;
  }
}
