@import "../resources/colors";
@import "../resources/animation.scss";


  .interactivePath2 {
  // background: url('../assets/img/backgrounds/bgPage-20.png');
  // background-position: center;
  // background-repeat: no-repeat;
  // width: 95%;
  // height: 300px;
  .btnItem {
    cursor: pointer;
  }
  .boxInfo {
    background-color: #F8F8F8;
    border-width: 2px;
    border-style: solid;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    width: 210px;
    height: 170px;
  }
}

